config ZMK_BEHAVIOUR_OS_LAYER
    bool "OS Layer switching"
    default n

config ZMK_INPUT_PROCESSOR_SCROLL_ACCELERATION
    bool "Enable scroll acceleration input processor"
    default y
    depends on ZMK_POINTING